<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact - SRNM College</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Contact Us</h1>
    <p><strong>Address:</strong> Sri S.R.N.M College,Sattur-626 203,Virudhunagar District, Tamil Nadu</p>
    <p><strong>Phone:</strong> +91  94867 60326</p>
    <p><strong>Email:</strong> principal@srnmcollege.ac.in</p>
    <nav>
        <a href="/">Home</a> |
        <a href="/departments">Departments</a> |
        <a href="/faculty">Faculty</a> |
        <a href="/notices">Notices</a> |
        <a href="/timetable">Timetable</a> |
        <a href="/contact">Contact</a>
    </nav>
</body>
</html>