<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> collage Timetable - SRNM College</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Timetable</h1>

    <div class="download-container">
        <a href="/static/timetable.pdf" download class="download-btn">
            📄 Download Timetable PDF
        </a>
    </div>

    <nav>
        <a href="/">Home</a> |
        <a href="/departments">Departments</a> |
        <a href="/faculty">Faculty</a> |
        <a href="/notices">Notices</a> |
        <a href="/timetable">Timetable</a> |
        <a href="/contact">Contact</a>
    </nav>
</body>
</html> 